{% extends 'base.html' %}

{% load bootstrap_toolkit %}

{% load staticfiles %}

{% block title %}Add Category{% endblock %}

{% block body_block %}

    <form role="form"  id="page_form" method="post" action="{% url 'add_category' %}">
        <h1 class="form-signin-heading">Add a Category</h1>
        <!--{% csrf_token %} <!--Cross Site Request Forgery Token
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}<br/>
            {{ field }}<br/>
        {% endfor %}-->
        {{ form | as_bootstrap }}
        <br/>
        <button class="btn btn-primary" type="submit" name="submit">Add Category</button>
    </form>
{% endblock %}