<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rango</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <script src="{% static 'js/jquery.js' %}"></script>
</head>
<body>
    <h1>Rango says...Hello World!</h1>
    {% if categories %}
        <ul>
            <h3>Categories</h3>
            {% for category in categories %}
            <li><a href="/RangoApp/category/{{ category.slug }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}

    {% if pages %}
        <ul>
            <h3>Pages</h3>
            {% for page in pages %}
            <li><a href="{{ page.url }}">{{ page.title }}</a> </li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>No pages</strong>
    {% endif %}
    <a href="/RangoApp/about">About</a>
    <a href="/RangoApp/add_category">Add a new category</a>

</body>
</html>